/.document-index
/.document-plain-text
/.document-set
/.document-source
/.pytest_cache
/.streamlit
/.vscode
/__pycache__
/core/__pycache__
/utils/__pycache__
/core/parsers/__pycache__
/core/parsers/chunk_splitters/__pycache__
/.langchain.db
/core/llm/__pycache__
/tests/__pycache__
