/.document-index
/.document-plain-text
/.document-set
/.document-source
/.document-user-query
/.document-kt
/.pytest_cache
/.streamlit
/.document-png
/.langchain.db
/.vscode
/__pycache__
/core/__pycache__
/utils/__pycache__
/core/parsers/__pycache__
/core/parsers/chunk_splitters/__pycache__
/core/llm/__pycache__
/tests/__pycache__
/.tiktoken-cache
/ui/__pycache__
/core/facts/__pycache__
/.logs
/.promptLib
