langchain
openai
streamlit
tiktoken
sentence-transformers
qdrant-client 
unstructured[all-docs]
pypdf
extract_msg
dataclasses-json
streamlit-agraph
html5lib
beautifulsoup4
pydantic
langchain_openai
langchain_core
langchain_community